/* inria serif (logo, subtítulos hero section, title in about, ), Joan (descripciones), Instruments sans (recipes section), Inria sans (link navbar) */
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Joan&display=swap');

:root {
    --logo-font: "Inria Serif", Verdana, Tahoma, serif, sans-serif;
    --hero-title-font: "Inria Serif", Verdana, Tahoma, serif, sans-serif;
    --about-title-font: "Inria Serif", Verdana, Tahoma, serif, sans-serif;
    --description-font: Joan, Verdana, Tahoma, serif, sans-serif;
    --recipe-text-font: "Instruments Sans", Verdana, Tahoma, serif, sans-serif;
    --navbar-font: "Inria Sans", Verdana, Tahoma, serif, sans-serif;

    --bg-color: #fff;
    --primary-color: #87AD9F;
    --secondary-color: #538774;

    --logo-size: 50px;
    --hero-title-size: 40px;
    --about-title-size: 32px;
    --description-size: 20px;
    --recipe-title-size: 40px;
    --recipe-size: 32px;
    --shop-text-size: 40px;
    --shop-cto-size: 30px;
    --footer-text-size: 20px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--description-font);
}

/* image (momentum) size - remove before submit */
img {
    width: 200px;
}

body {
    width: 100dvw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
}